/* General body styling */
body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    background-color: #bde2f2;
    align-items: center;
    display: flex;
    flex-direction: column; /* Arrange children elements vertically */
    justify-content: center;
    height: 100vh;
    color: #343a40;
    text-align: center;
}

/* Button styling */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    background-color: #4caf50;
    color: #fff;
    margin-bottom: 20px; /* Space below the button */
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    outline: solid black 1px;
    text-align: center;
}

/* Heading styling */
h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #343a40;
    text-shadow: 2px 2px #e9ecef;
    padding: 5px 10px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* Container for Pokémon details */
.pokeContainer {
    max-width: 150px;
    border: solid 1px #dddddd; /* Fixed border color */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

/* Results container styling */
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    padding: 10px;
}
